[input_format]
dir_code:4
so_type:2
sonumber:15
mem_wstd:10
first_name:30
last_name:100
sam_city:4
sam_stname:30
sam_stsubt:3
sam_stnmfr:7
sam_subd:1
sam_estate:30
sam_bldname:30
sam_aptcod:2
sam_aprmnt:20
list_code:2
acc_type:2
old_wstd:10
so_date:9
joint_user:50
regulatory_id:3
account_no:30
distribution_code:50

[areacodes]
bulacan:44
pampanga:45
benguet:74
mountain Province:74
albay:52
camarines norte:54
camarines sur:54
sorsogon:56
agusan del norte:85
agusan del sur:85
davao del norte:84
davao del sur:82
misamis oriental:88
sarsagani:82
south cotabato:83
misamis occidental:88
surigao del norte:86
zamboanga del norte:65
zamboanga del sur:62
iloilo:33
leyte:53
samar:55
cebu:32
maguindanao:64
sultan kudarat:64
aklan:36
bohol:38
bulacan:44
laguna:49
negros oriental:35
quezon:42
surigao del sur:86
albay:52
catanduanes:52
bataan:47
nueva ecija:44
tarlac:45
zambales:47

[prov_abbreviations]
bulacan:Bul
pampanga:Pamp
mountain province:Mt Prov
camarines norte:Cam Norte
camarines sur:Cam Sur
agusan del norte:Agsn del Norte
agusan del sur:Agsn del Sur
davao del norte:Dav del Norte
davao del sur:Dav del Sur
misamis oriental:Misamis Or
south cotabato:S Cotabato
sultan kudarat:S Kudarat
zamboanga del norte:Zambo del Norte
zamboanga del sur:Zambo del Sur
laguna:Lag
negros oriental:Negros Or
quezon:Qzn
bataan:Bat
nueva ecija:NE
ilocos norte:Ilocos N
ilocos sur:Ilocos S
la union:LU
nueva viscaya:NV
pangasinan (central):Pang
pangasinan (eastern):Pang
pangasinan (western):Pang
batangas:Bats
cavite:Cav
laguna:Lag
marinduque:Mrndque
mindoro occidental:Mindoro Occ

[city_abbreviations]
kalookan city:KC
las pinas:LP
makati:Mkti
malabon:Mal
mandaluyong:Mand
manila:Mla
marikina:Mkna
muntinlupa:Munt
navotas:Nav
paranaque:Pque
pasay city: PC
pasig: Psg
quezon city:QC
san juan:SJ
valenzuela:Val
agono:Angno
antipolo:Antplo
binangonan:Bngonan
cainta:Cta
montalban:Mont
obando:Obndo
pateros:Pat
pilillia:plilla
rodriguez:Rod
san pedro laguna:SPL
bataan export processing zone:BEPZA
cavite export processing zone:CEPZ
first cavite industrial estate: FCIE
general mariano alvarez:GMA
laguna intenational industrial park:LIIP
laguna technopark inc:LTI
subic bay freeport zone:SBFZ
san fernando la union:SFU
san fernando pampanga:SFP
